
@{
    Layout = null;
}

<h3>
    Mvc Tablo Kamp Örneği
</h3>
<br />
<table >
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Kategori Açıklama</th>
        <th>Kategori Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Spor</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>eğitim</td>
        <td>Açıklama yapıldı</td>
        <td>FAlse</td>
    </tr>
</table>